.footer{
    /* position: absolute;
    bottom: 0;  */
    
    width: 100%;
    background: rgb(0, 0, 0);;
    text-align: center;
    color:rgb(107, 102, 102);
}

.icons{
    padding-top: 1rem;
}

.icons a{
    text-decoration: none;
    font-size: 1.3rem;
    margin: 0.5rem;
    color:rgb(107, 102, 102);;
}

.company-name{
    font-size: 1rem;
    margin-top: 0.5rem;
}
 .icons a:hover {
    
    color:#ffffff;
  }   