
/*---------------------------------------------------------------------<HEADER>------------------------------------------------------------------*/
/* Set font family */
*{
  margin:0;
  padding:0;
}

* {
    font-family: 'Roboto', sans-serif;
  }
  

  /* Allows hamburger button to communicate with navbar items */
  /* Displays hamburger and navbar items in one row */
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color:rgb(0, 0, 0);
    
    width: 100%;
    height: 150px;
    
    
  }
  
  /* Presents navbar items in a row without list style (no bullets) */
  .navbar-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    width: 40%;
    
  }
  
  /* Gives space between navbar items */
  .navbar-item {
    padding-left: 40px;
    padding-right: 40px;
  }
  
  /* Removes text decoration from navbar text */
  .navbar-link {
    text-decoration: none;
    color: rgb(107, 102, 102);
    font-size: 18pt;
  }
  
  /* Allows font to change on hover */
  .navbar-link:hover {
    
    color: #ffffff;
  }
  
 .conteneur-deco-login{
  display: flex;
  justify-content: flex-start;
  width: 10%;
 
 
}

.fa-solid {
  color: rgb(107, 102, 102);
  font-size:2rem;
}
.fa-solid:hover{
  color: #ffffff;
}


h2{
  display: flex;
 align-items: center;
  color: rgb(107, 102, 102);
  
  width: 100px;
  font-family: 'Roboto', sans-serif;
  font-weight:lighter;
  font-size: 2rem;
  
  margin-left:30px;


  
}
.vide-navbar{
  width: 45%;
} 

.boutton-deco{

}
/*---------------------------------------------------------------------</HEADER>------------------------------------------------------------------*/
